<a href="https://colab.research.google.com/github/GmAccount/learn/blob/master/1_4_exercice_exploration_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importer les données

In [3]:
import pandas as pd
housing=pd.read_csv("https://dataks.bitbucket.io/ml/houses.csv")


Description des variables:

- price: prix de vente de la maison
- lotsize: superficie
- bedrooms: nombre de chambres
- bathrms: nombre de salles de bain
- stories: nombre d'étages
- driveway: présence d'allée d'entrée pour les voitures ?
- recroom: présence d'une salle de détente ?
- fullbase: sous-sol aménagé ?
- gashw: équipement du chauffage au gaz ?
- airco: présence d'air conditionné ?
- garagepl: nombre de place de parking
- prefarea: quartier favorisé ?

In [4]:
# Explorer la base de données, par exemple avec:
housing.head()

    price  lotsize  bedrooms  bathrms  ...  gashw airco garagepl prefarea
0  420000      585         3        1  ...     no    no        1       no
1  385000      400         2        1  ...     no    no        0       no
2  495000      306         3        1  ...     no    no        0       no
3  605000      665         3        1  ...     no    no        0       no
4  610000      636         2        1  ...     no    no        0       no

[5 rows x 12 columns]

**Question** Calculer la moyenne des différentes variables numériques.

In [8]:
print(housing.mean())
housing.describe()

price       681215.970696
lotsize        515.065934
bedrooms         2.965201
bathrms          1.285714
stories          1.807692
garagepl         0.692308
dtype: float64

              price      lotsize  ...     stories    garagepl
count  5.460000e+02   546.000000  ...  546.000000  546.000000
mean   6.812160e+05   515.065934  ...    1.807692    0.692308
std    2.670267e+05   216.797727  ...    0.868203    0.861307
min    2.500000e+05   165.000000  ...    1.000000    0.000000
25%    4.912500e+05   360.000000  ...    1.000000    0.000000
50%    6.200000e+05   460.000000  ...    2.000000    0.000000
75%    8.200000e+05   636.000000  ...    2.000000    1.000000
max    1.900000e+06  1620.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

**Question** Calculer les écart-types des différentes variables numériques.

In [9]:
housing.std(axis = 0, skipna = True)

price       267026.709258
lotsize        216.797727
bedrooms         0.737388
bathrms          0.502158
stories          0.868203
garagepl         0.861307
dtype: float64

**Question** Pour les variables catégoriques, calculer les occurrences des différentes catégories.

In [12]:

print(housing["driveway"].value_counts())

print(housing["bedrooms"].value_counts())

yes    469
no      77
Name: driveway, dtype: int64
3    301
2    136
4     95
5     10
6      2
1      2
Name: bedrooms, dtype: int64