In [17]:
import pandas as pd
s1 = pd.Series([1,2,3],index=['a','b','c'])
s2 = pd.Series({"a":1,"b":2,"c":3})

print(s1)
print(s2)

print (s1 + s2)
print (s1 * s2)
s1

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64
a    2
b    4
c    6
dtype: int64
a    1
b    4
c    9
dtype: int64

a    1
b    2
c    3
dtype: int64

In [18]:
data = {
"A":[1,2,3,4],  
"B":[11,22,33,44],
"C":[12,23,34,45],
"D":[13,24,34,46]
}
df1 = pd.DataFrame(data)
print(df1)
print(df1.iloc[0:2,0:2])

print(df1.loc[0:1,"A":"C"])

df1

   A   B   C   D
0  1  11  12  13
1  2  22  23  24
2  3  33  34  34
3  4  44  45  46
   A   B
0  1  11
1  2  22
   A   B   C
0  1  11  12
1  2  22  23

   A   B   C   D
0  1  11  12  13
1  2  22  23  24
2  3  33  34  34
3  4  44  45  46